.search-input {
  & input {
    width: 700px;
    height: 60px;
    border-radius: 25px;
    background-color: #d9d9d9;
    border: none;
    padding: 0 20px;
    font-size: 30px;
    font-weight: 300;

    &:focus {
      outline: none;
    }
  }

  img {
    width: 45px;
    height: 45px;
    position: absolute;
    margin-top: 10px;
    margin: 10px 0 0 630px;
    cursor: pointer;
  }
}
