.card-weather {
  width: 820px;
  height: 420px;
  background: linear-gradient(135deg, #c23cff 0%, #6b2b7d 45%, #1c1c1f 100%);
  border-radius: 32px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 35px 0px 10px 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.location {
  & img {
    width: 31px;
    height: 31px;
    margin-right: 8px;
  }
}

.temperature {
  display: flex;
  align-items: center;
  justify-content: center;

  & .thermometer {
    width: 18px;
    height: 60px;
    margin-right: 25px;
  }

  & .icon {
    width: 95px;
    height: 50px;
  }

  & span {
    font-size: 70px;
    font-weight: 300;
    color: #f2f1f1;
    background-color: transparent;
  }
}

.weather-info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .weather-info-item {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
  }
}

/*.temperature .data {
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
*/
